In [24]:
import pandas as pd
df = pd.read_excel("mri.xlsx")
df.head()

,Unnamed: 0,EDUC,MARISTAT,INDEPEND,RESIDENC,NACCFAM,ANYMEDS,SMOKYRS,NACCTBI,DIABETES,...,RSUPFRM,RSUPPAR,RSUPPARM,RSUPTEM,RSUPTEMM,RSUPMAR,RSUPMARM,RTRTEM,RTRTEMM,SEX
0,0,18,1,1,1,1,1,0,0,0,...,2.2157,10.3481,1.7014,13.4250,1.7419,9.8700,1.6792,0.8906,1.1947,2
1,1,11,1,1,1,1,1,0,0,0,...,2.6900,9.2500,1.6300,14.8800,2.3000,7.2700,1.8900,1.3800,2.0300,1
2,2,16,1,1,1,1,1,10,0,1,...,2.5400,13.6900,1.5600,16.2300,2.0700,10.1100,1.8400,1.0100,1.5000,2
3,3,14,1,1,1,0,1,0,0,1,...,2.4100,9.6400,1.4500,15.1100,1.6400,10.3900,1.8300,0.7400,1.1000,1
4,4,16,1,1,2,0,1,50,0,0,...,1.9501,9.1125,1.0427,13.3763,1.6270,7.5844,1.4595,0.6638,0.8527,1

In [25]:
df2=df.loc[:, 'NACCMMSE':'SEX']
dfn=df["NACCBRNV"]
dfnac=df["NACCAGEB"]
for i in range(len(dfn)):
  df2.iloc[i]=df2.iloc[i]/dfn.iloc[i]
  df2.iloc[i]=df2.iloc[i]*dfnac.iloc[i]
df3=df.loc[:, :'DROPACT']
df=pd.concat([df3, df2], axis=1, join='inner')
df

,Unnamed: 0,EDUC,MARISTAT,INDEPEND,RESIDENC,NACCFAM,ANYMEDS,SMOKYRS,NACCTBI,DIABETES,...,RSUPFRM,RSUPPAR,RSUPPARM,RSUPTEM,RSUPTEMM,RSUPMAR,RSUPMARM,RTRTEM,RTRTEMM,SEX
0,0,18,1,1,1,1,1,0,0,0,...,0.110891,0.517900,0.085151,0.671892,0.087178,0.493972,0.084040,0.044573,0.059792,0.100096
1,1,11,1,1,1,1,1,0,0,0,...,0.157852,0.542801,0.095650,0.873176,0.134967,0.426612,0.110907,0.080980,0.119123,0.058681
2,2,16,1,1,1,1,1,10,0,1,...,0.124032,0.668502,0.076177,0.792534,0.101081,0.493686,0.089850,0.049320,0.073247,0.097663
3,3,14,1,1,1,0,1,0,0,1,...,0.155577,0.622309,0.093605,0.975424,0.105870,0.670725,0.118135,0.047771,0.071010,0.064555
4,4,16,1,1,2,0,1,50,0,0,...,0.157585,0.736369,0.084259,1.080921,0.131476,0.612885,0.117940,0.053641,0.068906,0.080809
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1349,1349,20,1,1,1,1,1,0,0,0,...,0.155759,0.619210,0.127482,0.828635,0.169293,0.547084,0.138462,0.039545,0.060300,0.058715
1350,1350,16,1,2,1,0,1,0,0,0,...,0.117966,0.584935,0.083475,0.606210,0.106918,0.573359,0.115106,0.040835,0.044651,0.056193
1351,1351,14,2,1,1,1,1,0,0,0,...,0.134960,0.788751,0.097400,0.805939,0.126684,0.603499,0.110769,0.075119,0.101220,0.127321
1352,1352,20,3,1,1,1,1,25,0,0,...,0.164810,0.733845,0.115299,0.933922,0.142428,0.754191,0.145141,0.088848,0.103091,0.135646
1353,1353,14,1,1,1,1,1,10,0,0,...,0.169240,0.694516,0.123594,0.980327,0.154493,0.699431,0.130617,0.058286,0.115870,0.140448

In [26]:
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import GaussianNB
from sklearn.metrics import accuracy_score
from sklearn.model_selection import GridSearchCV
from sklearn.metrics import classification_report
import numpy as np

y = df["CDRGLOB"]
X = df2
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=25)
gnb = GaussianNB()
y_pred = gnb.fit(X_train, y_train).predict(X_test)
accuracy_score(y_test, y_pred)

param_grid = {'var_smoothing': np.logspace(0,-9, num=100)}
grid = GridSearchCV(estimator=gnb, param_grid=param_grid, cv=5)
grid.fit(X_train, y_train);
grid.best_params_
gnb = grid.best_estimator_
my_predictions = gnb.fit(X_train,y_train).predict(X_test)
print(classification_report(y_test, my_predictions))

              precision    recall  f1-score   support

           0       0.64      0.45      0.53       140
           1       0.36      0.70      0.48        88
           2       0.00      0.00      0.00        32
           3       0.00      0.00      0.00        11

    accuracy                           0.46       271
   macro avg       0.25      0.29      0.25       271
weighted avg       0.45      0.46      0.43       271

/usr/local/lib/python3.7/dist-packages/sklearn/metrics/_classification.py:1318: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/usr/local/lib/python3.7/dist-packages/sklearn/metrics/_classification.py:1318: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/usr/local/lib/python3.7/dist-packages/sklearn/metrics/_classification.py:1318: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

In [37]:
from sklearn.preprocessing import OneHotEncoder
onehotencoder = OneHotEncoder()
td = onehotencoder.fit_transform(df3)
df4 = pd.DataFrame(td)

YanlÄ±ÅŸ anlamadÄ±ysam tÃ¼m kategorik verilere one hot encoding gerekiyor. Burada iÅŸlem yapÄ±lsada labellarÄ± dÃ¼zeltmedim bu sebepten dolayÄ± alt taraftaki iÅŸlemi sadece sembolik olarak yapÄ±yorum.

In [38]:
from sklearn.naive_bayes import MultinomialNB
clf = MultinomialNB()
y = df["CDRGLOB"]
X = df.drop(columns="CDRGLOB")
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=25)
clf_pred = gnb.fit(X_train, y_train).predict(X_test)
print(classification_report(y_test, clf_pred))

              precision    recall  f1-score   support

           0       0.56      0.86      0.68       140
           1       0.32      0.20      0.25        88
           2       0.00      0.00      0.00        32
           3       0.00      0.00      0.00        11

    accuracy                           0.51       271
   macro avg       0.22      0.27      0.23       271
weighted avg       0.39      0.51      0.43       271

/usr/local/lib/python3.7/dist-packages/sklearn/metrics/_classification.py:1318: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/usr/local/lib/python3.7/dist-packages/sklearn/metrics/_classification.py:1318: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/usr/local/lib/python3.7/dist-packages/sklearn/metrics/_classification.py:1318: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))